{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <div class="container">
        <h2>Article</h2>
        {# Вывод ошибок #}
        {% for children in form.children %}
            {% if children.vars.errors is defined %}
                {% for error in children.vars.errors %}
                    {#{{ dump(children) }}#}
                    {#{{ dump(error) }}#}
                    {{ dump(children.vars.name ~ ': ' ~ error.message) }}
                {% endfor %}
            {% endif %}
        {% endfor %}

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {{ form_start(form) }}
            <div class="form-group">
                <label for="textarea">{{ form_label(form.user) }}</label>
                {{ form_widget(form.user) }}
            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.title) }}</label><br>
                {{ form_widget(form.title) }}
            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.content) }}</label><br>
                {{ form_widget(form.content) }}
            </div>
            <div class="form-group">
                <label for="textarea">{{ form_label(form.is_publish) }}</label>
                {{ form_widget(form.is_publish) }}
            </div>

            <div class="form-group" style="display: none">
                <label for="textarea">{{ form_label(form.created_at) }}</label>
                {{ form_widget(form.created_at) }}
            </div>
            <div class="form-group" {{ isUpdate is defined ? '' : 'style="display: none"' }}>
                <label for="textarea">{{ form_label(form.updated_at) }}</label>
                {{ form_widget(form.updated_at) }}
            </div>
            <button type="submit">Save</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
